@font-face {
  font-family:'';
  src: url('');
}

:root{
  --dark:#0B0C0C;
  --dark-light:#2A2E34;
  --light:#E9EAEC;
  --sun:#E4B61A;
  --gold:#FBE134;
  --sm:1.2em;
  --md:1.4em;
  --lg:1.8em;
  --extra-lg:3em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

header{
  background-color: var(--gold);
  opacity: 0.8;
  border: var(--dark) 4px solid;
}

body{
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.hero{
  min-height: 60vh;
  position: relative;
  border-bottom: var(--gold) 4px solid;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity:0.2;
  mix-blend-mode: overlay;
}

.section-title{
  height: 68px;
  background-color: var(--dark-light);
}

.title{
  height: 52px;
  padding: 2px;
  font-size: var(--extra-lg);
  color: var(--dark-light);
  background-color: var(--gold);
  opacity: 0.9;
  border-radius: 5px;
  border: var(--dark-light) 3px solid;
  margin: 32px 0;
}


.section-initial{
  background-color: var(--dark-light);
  border-bottom: var(--gold) 4px solid;
}

.container-card{
  color: var(--dark);
  background-color: var(--gold);
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: var(--md);
  border: 2px solid var(--gold);
}

.title-card{
  font-size: var(--lg);
  font-weight: bold;
}

.section-time{
  background-color: var(--light);
  border-bottom: var(--gold) 4px solid;
}

.container-card-2{
  width: 160px;
  padding: 2px;
  color: var(--dark-light);
  opacity: 0.9;
  background-color: var(--gold);
  border-radius: 8px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: var(--md);
  border: 3px solid var(--dark-light);
}

.line{
  width: 110px;
  height: 8px;
  display: inline-block;
  position: relative;
  opacity: 0.9;
  background-color: var(--dark-light);
}

.circle {
  width: 72px;
  height: 72px;
  color: var(--light);
  display: inline-block;
  position: relative;
  background-color: var(--dark-light);
  border-radius: 50%;
}

.section-gallary{
  background-color: var(--dark-light);
  border-bottom: var(--gold) 4px solid;
}

.car-img{
  width: 280px;
  height: 230px;
  border-radius: 4px ;
  clip-path: polygon(0% 0%, 0% 93%, 20% 93%, 30% 100%, 100% 100%, 100% 0%);
}

.container-card-3{
  height: 270px;
  opacity: 0.9;
  background-color: var(--gold);
  border-radius: 4px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-card-3 h2{
  padding: 6px;
}

.section-footer{
  background-color: var(--dark);
}

.contenedor-derechos{
  font-size: var(--sm);
  color: var(--light);
  list-style: none;
}

.line-x{
  width: 2px;
  height: 12px;
  background-color: var(--light);
}

.social-media{
  width: 24px;
  height: 24px;

}